# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]
*.egg-info/

# VS Code
.vscode/

# Temporary Files
temp.pdf
tempCodeRunnerFile.py

# OS
.DS_Store
Thumbs.db